<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
        <li>@Html.ActionLink("Catégories", "Index", "Category")</li>
        <li>@Html.ActionLink("Compétiteurs", "Index", "Competitor")</li>
        <li>@Html.ActionLink("Courses", "Index", "Race")</li>
    </ul>
</nav>