@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}

<hgroup class="title">
    <h1 class="error">Page NotFound.cshtml</h1>
    <h2 class="error">Oups, il semble que quelque chose se soit mal passée...</h2>
</hgroup>