@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>Coucou tu es bien dans la zone d'administration</p>

<p>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    @Html.ActionLink("Créer une nouvelle course", "Create")
</p>