<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WebSportEntities" connectionString="metadata=res://*/EntityFramework.WebSportModel.csdl|res://*/EntityFramework.WebSportModel.ssdl|res://*/EntityFramework.WebSportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=22-UC34-12;initial catalog=Websport;user id=sa;password=Pa$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WebSportPsEntities" connectionString="metadata=res://*/EntityFramework.WebsportPsModel.csdl|res://*/EntityFramework.WebsportPsModel.ssdl|res://*/EntityFramework.WebsportPsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=22-UC34-12;initial catalog=Websport;user id=sa;password=Pa$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>