@{
    ViewBag.Title = "_MenuPartial.cshtml";
}

@section css {
    @Styles.Render("~/Content/Account/css")
}

<div class="profil-img">
    <img src="~/Images/profil-default.png" />
    @*@Html.Partial("_ImagePartial")*@
</div>

<div class="account-menu">
    <div class="account-menu-responsive">Mon compte</div>
    <ul class="account-menu-nav">
        <li id="Dashboard" class="account-nav-item">@Html.ActionLink("Tableau de bord", "Dashboard", "Account")</li>
        <li id="MyRaces" class="account-nav-item">@Html.ActionLink("Mes courses", "MyRaces", "Account")</li>
        <li id="Manage" class="account-nav-item">@Html.ActionLink("Mes informations personnelles", "Manage", "Account")</li>
    </ul>
</div>
