@{
    ViewBag.Title = "_MyRacesPartial";
}

<table class="table races account">
    <thead>
        <tr>
            <th class="race-main-column">Course</th>
            <th class="distance">Distance</th>
            <th class="time">Temps personnel</th>
            <th class="classement">Classement</th>
            <th class="etat">Etat</th>
            <th class="unsubscribe">&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        @* --- Exemple ligne course non effectuée ---*@
        <tr>
            <td class="race-main-column table-title">
                @* TODO: Intitulé *@
                <span class="title">Les petites foulées</span>
                <div class="mobile-table-content">
                    <div>
                        <strong>Date : </strong>
                        @* TODO: Date *@
                        <span>18/03/2017</span>
                    </div>
                    <div>
                        <strong>Ville : </strong>
                        @* TODO: Ville *@
                        <span>Nantes</span>
                    </div>
                    <div class="mobile distance">
                        <strong>Distance : </strong>
                        @* TODO: Distance *@
                        <span>10 km</span>
                    </div>
                    <div class="mobile time">
                        <strong>Temps personnel : </strong>
                        @* TODO: Temps personnel *@
                        <span class="undefined">Non déterminé</span>
                    </div>
                    <div class="mobile classement">
                        <strong>Classement : </strong>
                        @* TODO: Classement *@
                        <span class="undefined">Non déterminé</span>
                    </div>
                    <div class="mobile etat">
                        <strong>Etat : </strong>
                        @* TODO: Etat *@
                        <span>En cours de validation</span>
                    </div>
                    <div class="mobile unsubscribe">
                        @* TODO: Gérer la désinscription *@
                        <span class="button unsubscribe">
                            @Html.ActionLink("Se désinscrire", "")
                        </span>
                    </div>
                </div>
            </td>

            @* TODO: Distance *@
            <td class="distance"><span>10 km</span></td>

            @* TODO: Temps personnel *@
            <td class="time"><span class="undefined">Non déterminé</span></td>

            @* TODO: Classement *@
            <td class="classement"><span class="undefined">Non déterminé</span></td>

            @* TODO: Etat *@
            <td class="etat"><span>En cours de validation</span></td>

            @* Bouton désinscription *@
            <td class="unsubscribe">
                @* TODO: Gérer la désinscription *@
                <span class="button unsubscribe">
                    @Html.ActionLink("Se désinscrire", "")
                </span>
            </td>
        </tr>
    </tbody>
</table>