@{
    ViewBag.Title = "Confirmation Inscription";
}

<h2>Féliciations !</h2>

<p> Votre inscription a bien été prise en compte.</p>

<p>Afin de la valider merci de faire parvenir un cheque de .. euros à : </p>

<p>Pour consulter vos inscriptions ou vous désinscrire, rendez-vous dans votre espace personnel.</p>
