@model WUI.Models.RaceModel
@{
    ViewBag.Title = "Confirmation Inscription";
}
@section css {
    @Styles.Render("~/Content/Race/css")
}

<div class="one-column">

    <h1>
        @if (TempData["inscri"].Equals("valide"))
    {
        <text>Féliciations !</text>
    }
    else
    {
        <text>Erreur lors de l'inscription</text>
    }
        </h1 >

    <div class="inscription-details">
        @if (TempData["inscri"].Equals("valide"))
        {

<p> Votre demande d'inscription a bien été prise en compte.</p>

<p>Pour rappel, afin de la valider :</p>

<p>@Html.DisplayFor(model => model.Reglement)</p>

            <p>Pour consulter vos inscriptions ou vous désinscrire, rendez-vous dans votre espace personnel.</p>
        }
        else
        {

            <p>Vous êtes déjà inscrit à cette course</p>

<p>Pour consulter vos inscriptions ou vous désinscrire, rendez-vous dans votre espace personnel.</p>
        }

        <div class="button secondary return">
            @Html.ActionLink("Liste des courses", "Index", "Race", null, null)
        </div>

        <div class="button confirm">
            @Html.ActionLink("Mon compte", "Dashboard", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        </div>

      

        
    </div>
</div>
