html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0277bd !important;
    color: #333;
    font-size: .85em;
    font-family: Verdana, Helvetica, Sans-Serif !important;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
#login ul {
    display: inline-block;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    margin: 0 !important;
    font-size: 30px !important;
    color: #464646 !important;
}
h2 {
    color: #afb42b !important;
    font-size: 15.5px !important;
    font-weight: 700 !important;
    margin-bottom: 15px !important;
}

h3 {
    font-size: 13px !important;
    font-weight: 700 !important;
    background: #fff;
    display: inline-block !important;
    width: auto !important;
    margin-bottom: 0 !important;
    padding: 10px 15px !important;
    /*text-transform: uppercase !important;*/

}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* buttons
----------------------------------------------------------*/
.button {
    background: #0277bd;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 1;
    cursor: pointer;
}
.button:hover {
    background: #1565c0;
    transition: background 0.2s;
}
.button a {
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
    display: block;
}
.button div {
    padding: 6px 10px !important;
}
.button a:hover {
    background: none;
    text-decoration: none;
    color: #fff;
}
.button a:active {
    background: none;
    text-decoration: none;
    color: #fff;
}
.button.secondary {
    background: #afb42b;
}

/* Filters
----------------------------------------------------------*/
.navbar {
    margin-top: 40px;
}
@media screen and (max-width: 768px) {
    .navbar {
        margin-top: 20px;
    }
    #navbar-filter .navbar-nav {
        margin: 0 !important;
    }
    #navbar-filter .dropdown:hover {
        background-color: transparent !important;
    }
    .dropdown.open .dropdown-toggle {
        background: none !important;
        box-shadow: none !important;
    }
    .dropdown.open li:hover {
        background: none !important;
    }
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
}

.moblie-menu-button, .mobile-menu {display: none;}

.content-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        padding-top: 30px;
    }

    .featured + .main-content {
    }

header .content-wrapper {
    padding-top: 10px; 
}
.one-column,
.two-columns-left,
.two-columns-right {
    width: 100%;
    margin-top: 40px;
}
.two-columns-left:after,
.two-columns-right:after {
    content: "";
    clear: both;
    display: table;
}
.two-columns-left .column.left {
    display: inline-block;
    float: left;
    width: 24%;
    padding-right: 4%;
}
.two-columns-right .column.right {
    display: inline-block;
    float: right;
    width: 32%;
    padding-left: 4%;
}
.two-columns-left .main-container {
    display: inline-block;
    width: 76%;
}
.two-columns-right .main-container {
    display: inline-block;
    width: 68%;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}
.block {
    margin-bottom: 30px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 0;
    font-style: italic;
    line-height: 55px;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #fff;
    outline: none;
    text-decoration: none !important;
}
.undefined {
    font-style: italic;
    color: #8b8b8b;
    line-height: 1;
    font-size: 12px;
}

/* login
----------------------------------------------------------*/
#login {
    display: inline-block;
    float: left;
    font-size: 11.5px;
    margin: 0 0 10px;
    text-align: right;
    color: #fff;
}

    #login a {
        margin-left: 10px;
        padding: 2px 0 2px 3px;
        text-decoration: none;
        color: #fff;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
        font-weight: 700;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

    .change-password .button {
        float: right;
        margin-top: 20px;
    }

    .login.button {
        float: right;
    }

    /*.ChangeUnit {
        color: #fff;
        font-size: 12px;
        display: inline-block;
        margin-left: 
    }*/

#loginForm, #socialLoginForm {
    margin-top: 30px;
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0 15px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #fff;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }

        ul#menu li a:hover {
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm, .loginForm {
    width: 55%;
    margin: 50px auto;
}
#loginForm h2, .loginForm h2 {
    margin-bottom: 20px;
    margin-top: 30px;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

#RememberMe {vertical-align: middle;}

.subscription-link {
    margin-top: 5px;
}
.subscription-link a {
    text-decoration: underline;
    
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 10px;
        }

label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    width: 250px;
    padding-right: 20px;
    vertical-align: middle;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background: none !important;
        border: none;
        cursor: pointer;
        font-size: inherit;
        font-weight: 400;
        padding: inherit;
        margin-right: auto;
        width: auto;
    }

/* info and errors 
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
.form-design {
    width: 65%;margin-top: 40px;
}
.form-design .actions {
    margin-top: 20px;
}

/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

thead tr:first-child th:first-child,
thead tr:first-child th:last-child,
tbody tr:last-child td:first-child,
tbody tr:last-child td:last-child {
    border-radius: 3px;
}

th {
    font-size: 13px;
    text-align: center !important;
    border: none !important;
    background: #f9f9f9;
    vertical-align: middle !important;
    padding: 10px 15px !important;
}
    th:first-child {
        text-align: left !important;
    }

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;

    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

tbody td {
    padding: 10px 15px !important;
    border-top: none !important;
    border-bottom: 4px solid #f1f1f1;
    background: #fff;
    text-align: center;
    font-size: 13px;
    vertical-align: middle !important;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}
tfoot td {
    padding: 2px 0 0 !important;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    /*header .float-left,
    header .float-right {
        float: none;
    }*/

    /* logo */
    /*header .site-title {
        margin: 0 0 10px 0;
        text-align: center;
    }*/

    /* login */
    /*#login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            text-decoration: none;
        }*/

    /* menu */
    /*nav {
        margin-bottom: 15px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0 10px;
        }*/


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    /*.content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }*/

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}


/* Bootstrap complement */
.row-bold {
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .two-columns-left .column.left, .two-columns-left .main-container,
    .two-columns-right .column.right, .two-columns-right .main-container {
        float: none;
        display: block;
        width: 100%;
    }

    .two-columns-left, .two-columns-right {
        margin-top: 0;
    }

    .two-columns-left .column.left {
        padding-right: 0;
    }

    .two-columns-right .column.right {
        padding-left: 0;
    }

    .two-columns-left .main-container,
    .two-columns-right .main-container {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .one-column {
        margin-top: 0;
    }
    header {
        position: relative;
        height: 55px;
    }

    header .float-left {
        width: 100%;
    }
    .site-title {
        text-align: center;
    }

    ul#menu {margin: 0;}

    header .content-wrapper {
        padding: 0;
    }

    .site-title {
        font-size: 25px;
    }

    .nav-menu {
        margin: 0;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background: #026097;
        padding: 0 ;
        display: none;
        z-index: 1;
    }
    #login {display: none;}
    #loginForm, .loginForm {margin-top: 0px;}
    .moblie-menu-button {
        background-image: url('../images/menu-btn.png');
        background-repeat: no-repeat;
        background-size: 100%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 18px;
        left: 18px;
        display: block;
    }

    nav #menu li, nav ul li {
        display: block;
        float: none;
        text-align: left;
        padding: 0;
    }

    nav #menu li:hover, nav ul li:hover {
        background: #01507e;
        transition: background 0.2s;
        cursor: pointer;
    }

    nav #menu li a, nav ul li a {
        font-size: 12px;
        width: 100%;
        height: 100%;
        padding: 12px 10px;
        display: block;
    }

    nav #menu li a:hover, nav ul li a:hover {
        background: none;
    }
    .mobile-menu {
        display: block;
    }

    .mobile-menu ul {
        padding: 0;
        list-style-type: none;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 13px;
        margin: 0;
    }
    .mobile-menu ul a {
        color: #fff;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }
    .mobile-menu ul a:hover {
        text-decoration: none;
    }
}

@media only screen and (max-width: 545px) {
    .change-password .button {
        width: 100%;
        margin-top: 0;
    }
    .login.button {
        width: 100%;
        margin-bottom: 10px;
    }
    #login-form, .loginForm {
        width: 100%;
    }
    input[type=text],
    input[type=password] {
        width: 100% !important;
    }
}